# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/
.virtual_documents/

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Environment variables
.env

# Static files
staticfiles/
static/

# Cache
.cache/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Diretórios de outros projetos
../AQS-SUPRIMENTOS-SIENGE/
../AnaliseCovid19/
../ArquivosArqos/
../CountFrequencyEncoding/
../D3DashBoard/
../DashBoardAqs2/
../DashSiengeAqs/
../DashSuprimentos/
../DashboardGestaoObra/
../Data-Analysis-to-Develop/
../DatasetCovid/
../HandleMissingValues/
../InvestmentManagement/
../MarketBasketAnalysis/
../ProjectCleanEtrategic/
../ProjectSiengeReference/
../anaconda_projects/
../dashBoardSp/
../scholl-agend/
../sienge-dashboard/
../site-serralheria/ 